# Introduction to Time Series Data

We will explore two main kinds of tabular data in this workshop. The first is time series data. Time series data will be *indexed* with a date and time. We'll look a bit more closely at that soon, but for now just think of it as each row having a date or time, rather than a row number.

## Pandas Refresh

One of the most popular packages in Python for working with tabular data is called Pandas, which was introduced in a supplementary notebook in DSA.

The first thing we'll do is `import` the `pandas` package. Convention has us use a shortform name - `pd` - because we'll be using the package so often.

In [1]:
import pandas as pd

And below we'll use pandas' `read_csv()` to load the data into a `DataFrame`. DataFrames are the main data structure in pandas for tabular data, and lots of other programming languages use the concept of a DataFrame too! By convention, you'll often see `df` used as a variable name.

In [2]:
# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/ImperialCollegeLondon/efds-ta-python/refs/heads/main/data/AAPL_2023.csv")

Before we do anything else, it's a good idea to take a look at the DataFrame. Some methods will let us take a closer look at parts of our data.

In [ ]:
df   # display the data frame - open data wrangling for more operation

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500
1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600
2,2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700
3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735229,87754700
4,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800
...,...,...,...,...,...,...,...
245,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800
246,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300
247,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700
248,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900
249,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800

Other methods and attributes can give us an overview, and give us further insights to our data in general. `shape()` will tell us the number of rows and columns in our data frame, while `info()` will give us some info on the data type (`dtype`) of each column.

You'll notice the types are slightly different from the usual Python types - this is because they belong to the `numpy` package, which sits under the hood of `pandas`. We'll look more at `numpy` tomorrow, but for now here is a word about each of the types in our data frame.

- `float64` - 64-bit floating point (number with a decimal point)
- `int64` - 64-bit integer (whole number)
- `object` - other Python data types (strings in this case)

In [7]:
df.shape

df.info()

df.head()

df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB

,Date,Open,High,Low,Close,Adj Close,Volume
245,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800
246,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300
247,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700
248,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900
249,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800

For a look at some actual data within the data frame, we can use square bracket notation and `iloc` to access columns and rows. The `i` in `iloc` refers to **integer-based indexing**, so looking at a row or column *number*.

In [ ]:
# index data frame as a dictionary 

df["Close"]  # index Close column 

df.Close  # dot access - same as indexing - short cut with some risk (e.g., no spaces, no reserved keywords)

df["New column"] = 1  # create a new column and fill it with 1s 

df[["Close", "Open"]]  # use a list to index multiple columns 

df[df.Close > 150]   # filter all row with close price > 150 using conditions

df[df.Close > 150]["Date"]  # get the dates when close price > 150, or df[df.Close > 150].Date 

df.loc["2023-12-01"]  # index 2023-12-01 row 

df.iloc[6]  # get row 6 using integer location, usually used in loop

df[0:6]   # get the first 6 rows using columns - for single row, e.g., row 6, use df[5:6]

21     2023-02-02
22     2023-02-03
23     2023-02-06
24     2023-02-07
25     2023-02-08
          ...
245    2023-12-22
246    2023-12-26
247    2023-12-27
248    2023-12-28
249    2023-12-29
Name: Date, Length: 220, dtype: object

### Exercise: End of Year

Display the data for the entire month of December 2023.

In [14]:
df[(df.Date >= "2023-12-01") & (df.Date <= "2023-12-31")]

,Date,Open,High,Low,Close,Adj Close,Volume,New column
230,2023-12-01,190.330002,191.559998,189.229996,191.240005,190.996292,45679300,1
231,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500,1
232,2023-12-05,190.210007,194.399994,190.179993,193.419998,193.173508,66628400,1
233,2023-12-06,194.449997,194.759995,192.110001,192.320007,192.074921,41089700,1
234,2023-12-07,193.630005,195.000000,193.589996,194.270004,194.022430,47477700,1
235,2023-12-08,194.199997,195.990005,193.669998,195.710007,195.460587,53377300,1
236,2023-12-11,193.110001,193.490005,191.419998,193.179993,192.933807,60943700,1
237,2023-12-12,193.080002,194.720001,191.720001,194.710007,194.461868,52696900,1
238,2023-12-13,195.089996,198.000000,194.850006,197.960007,197.707718,70404200,1
239,2023-12-14,198.020004,199.619995,196.160004,198.110001,197.857529,66831600,1
240,2023-12-15,197.529999,198.399994,197.000000,197.570007,197.318222,128256700,1
241,2023-12-18,196.089996,196.630005,194.389999,195.889999,195.640350,55751900,1
242,2023-12-19,196.160004,196.949997,195.889999,196.940002,196.689026,40714100,1
243,2023-12-20,196.899994,197.679993,194.830002,194.830002,194.581711,52242800,1
244,2023-12-21,196.100006,197.080002,193.500000,194.679993,194.431885,46482500,1
245,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800,1
246,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300,1
247,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700,1
248,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900,1
249,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800,1

### Exercise: The First Fifty

Display the data for the first fifty (50) days of trading in the period.

In [ ]:
df.iloc[0:50]

,Date,Open,High,Low,Close,Adj Close,Volume,New column
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500,1
1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600,1
2,2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700,1
3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735229,87754700,1
4,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800,1
5,2023-01-10,130.259995,131.259995,128.119995,130.729996,129.837677,63896200,1
6,2023-01-11,131.250000,133.509995,130.460007,133.490005,132.578842,69458900,1
7,2023-01-12,133.880005,134.259995,131.440002,133.410004,132.499390,71379600,1
8,2023-01-13,132.029999,134.919998,131.660004,134.759995,133.840149,57809700,1
9,2023-01-17,134.830002,137.289993,134.130005,135.940002,135.012100,63646600,1
10,2023-01-18,136.820007,138.610001,135.029999,135.210007,134.287094,69672800,1
11,2023-01-19,134.080002,136.250000,133.770004,135.270004,134.346695,58280400,1
12,2023-01-20,135.279999,138.020004,134.220001,137.869995,136.928925,80223600,1
13,2023-01-23,138.119995,143.320007,137.899994,141.110001,140.146820,81760300,1
14,2023-01-24,140.309998,143.160004,140.300003,142.529999,141.557114,66435100,1
15,2023-01-25,140.889999,142.429993,138.809998,141.860001,140.891693,65799300,1
16,2023-01-26,143.169998,144.250000,141.899994,143.960007,142.977371,54105100,1
17,2023-01-27,143.160004,147.229996,143.080002,145.929993,144.933914,70555800,1
18,2023-01-30,144.960007,145.550003,142.850006,143.000000,142.023926,64015300,1
19,2023-01-31,142.699997,144.339996,142.279999,144.289993,143.305099,65874500,1
20,2023-02-01,143.970001,146.610001,141.320007,145.429993,144.437317,77663600,1
21,2023-02-02,148.899994,151.179993,148.169998,150.820007,149.790543,118339000,1
22,2023-02-03,148.029999,157.380005,147.830002,154.500000,153.445419,154357300,1
23,2023-02-06,152.570007,153.100006,150.779999,151.729996,150.694336,69858300,1
24,2023-02-07,150.639999,155.229996,150.639999,154.649994,153.594391,83322600,1
25,2023-02-08,153.880005,154.580002,151.169998,151.919998,150.883026,64120100,1
26,2023-02-09,153.779999,154.330002,150.419998,150.869995,149.840179,56007100,1
27,2023-02-10,149.460007,151.339996,149.220001,151.009995,150.208237,57450700,1
28,2023-02-13,150.949997,154.259995,150.919998,153.850006,153.033157,62199000,1
29,2023-02-14,152.119995,153.770004,150.860001,153.199997,152.386597,61707600,1
30,2023-02-15,153.110001,155.500000,152.880005,155.330002,154.505295,65573800,1
31,2023-02-16,153.509995,156.330002,153.350006,153.710007,152.893906,68167900,1
32,2023-02-17,152.350006,153.000000,150.850006,152.550003,151.740051,59144100,1
33,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,1
34,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119400,51011300,1
35,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606796,48394200,1
36,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931076,55469600,1
37,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500,1
38,2023-02-28,147.050003,149.080002,146.830002,147.410004,146.627350,50547000,1
39,2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538483,55479000,1
40,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135330,52238100,1
41,2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228119,70732300,1
42,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,1
43,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000,1
44,2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058365,47204800,1
45,2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790466,53833600,1
46,2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400,1
47,2023-03-13,147.809998,153.139999,147.699997,150.470001,149.671097,84457100,1
48,2023-03-14,151.279999,153.399994,150.100006,152.589996,151.779846,73695900,1
49,2023-03-15,151.190002,153.250000,149.919998,152.990005,152.177734,77167900,1

### Exercise: Roughly Monthly

Display the data at each 21-day interval, over the entire period.

In [21]:
df[::21]

,Date,Open,High,Low,Close,Adj Close,Volume,New column
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500,1
21,2023-02-02,148.899994,151.179993,148.169998,150.820007,149.790543,118339000,1
42,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,1
63,2023-04-04,166.600006,166.839996,165.110001,165.630005,164.750610,46278300,1
84,2023-05-04,164.889999,167.039993,164.309998,165.789993,164.909760,81235400,1
105,2023-06-05,182.630005,184.949997,178.039993,179.580002,178.873611,121946500,1
126,2023-07-06,189.839996,192.020004,189.199997,191.809998,191.055511,45094300,1
147,2023-08-04,185.520004,187.380005,181.919998,181.990005,181.274155,115799700,1
168,2023-09-05,188.279999,189.979996,187.610001,189.699997,189.208969,45280000,1
189,2023-10-04,171.089996,174.210007,170.970001,173.660004,173.210495,53020300,1
210,2023-11-02,175.520004,177.779999,175.460007,177.570007,177.110382,77334800,1
231,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500,1

## Setting the Index

In a DataFrame, each row is assigned a unique index value. By default, this is just a number (starting at 0). When it makes sense, we can choose one of the other columns to be an index. For time series data, where each row represents a different point in time, we'll set our `Date` column as the index. This will make it easier for us to work with the data, and can speed up other operations later on.

In [ ]:
df.Date = pd.to_datetime(df.Date)

df.set_index("Date", inplace=True)  # don't run this line twice - you'll run into AttributeError - interrupt and rerun 
df

,Open,High,Low,Close,Adj Close,Volume,New column
Date,,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500,1
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600,1
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700,1
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735229,87754700,1
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800,1
...,...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800,1
2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300,1
2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700,1
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900,1
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800,1

We convert the 'Date' column to a datetime object because pandas can recognise and efficiently work with datetime objects. We set the `Date` column as the index because in time-series data like ours, operations are time-based.

With the index set, we can now use it to access different portions of our data a little bit more easily. Because our indices are labeled, we can use `loc` for **label-based indexing**.

In [27]:
df.loc["2023-08-18"]

df.loc["2023-03":"2023-05"]

df.loc["2023-12", "Close"]

Date
2023-12-01    191.240005
2023-12-04    189.429993
2023-12-05    193.419998
2023-12-06    192.320007
2023-12-07    194.270004
2023-12-08    195.710007
2023-12-11    193.179993
2023-12-12    194.710007
2023-12-13    197.960007
2023-12-14    198.110001
2023-12-15    197.570007
2023-12-18    195.889999
2023-12-19    196.940002
2023-12-20    194.830002
2023-12-21    194.679993
2023-12-22    193.600006
2023-12-26    193.050003
2023-12-27    193.149994
2023-12-28    193.580002
2023-12-29    192.529999
Name: Close, dtype: float64

## Basic Operations
There are also many basic operations we can do with pandas, such as calculating the mean of a column, the maximum of a column, and so on.

In [31]:
df.Close.mean()

df.Close.max()

df.Close.idxmax()  # index of maximum value 

df.Close.min()

df.Close.idxmin()  # index of minimum value 

df[["Low", "High"]].mean()  # average of each column 

df[["Low", "High"]].mean(axis=1)  # average of the two columns

Date
2023-01-03    127.534996
2023-01-04    126.870003
2023-01-05    126.264999
2023-01-06    127.589996
2023-01-09    131.650002
                 ...
2023-12-22    194.190002
2023-12-26    193.360001
2023-12-27    192.294998
2023-12-28    193.915001
2023-12-29    193.064995
Length: 250, dtype: float64

### Exercise: Apple Quarters

Compare AAPL's *median* **high** in Q1 and Q2 of 2023. In which quarter was it higher? Use the cell below to show your work.

In [40]:
Q1 = df.loc["2023-01":"2023-03", "High"].median()

Q2 = df.loc["2023-04":"2023-06", "High"].median()

print(Q1, Q2)
if Q1 > Q2:
    print("Quarter 1 has a higher median high")
else:
    print("Quarter 2 has a higher median high")

151.23999786376953 173.96499633789062
Quarter 2 has a higher median high

### Exercise: March Madness

Looking only at the month of March, print the following information:

* First opening price of the period
* Last close price of the period
* Total volume traded over the period

In [39]:
print("First opening price of March is ", df.loc["2023-03-01", "Open"])
print("Last close price of March is ", df.loc["2023-03-31", "Close"])
print("Total volume traded over March is ", df.loc["2023-03", "Volume"].sum())

First opening price of March is  146.8300018310547
Last close price of March is  164.89999389648438
Total volume traded over March is  1520266600